# Ignore
.DS_Store

# DerivedData Folders
C/*/DerivedData
Cocoa/*/DerivedData
Objective-C/*/DerivedData

# Intermediates Folders
C/*/Build/Intermediates
Cocoa/*/Build/Intermediates
Objective-C/*/Build/Intermediates